<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>ZirconiumChat</h1>
      <p>A Single Platform Solution to all your essential web services</p>
    </div>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>